[data-dock="card"] {
  background-color: var(--surface-dock);
  border-radius: var(--radius-lg);
  box-shadow: 0 0 0 1px var(--border-weak), var(--shadow-raised);
  overflow: hidden;
  position: relative;
  z-index: 10;
}

:root[data-color-scheme="dark"] [data-dock="card"] {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

[data-dock="segment"] {
  position: relative;
}

[data-dock="card"] > [data-dock="segment"]:not(:last-child) {
  border-bottom: 1px solid var(--border-weaker);
}
